<h1>Partial View #1 Test</h1>
<p>This example is showing how to iterate over data using a filter and ordering. The filter will use the built-in
	query and the odering uses which fields of the data to order by, first or last name.
</p>
<br />

<div class="container-fluid">
	<div class="row-fluid">
		<div class="span2">
			Search: <input ng-model="query"> <br />
			Sort By:
			<select ng-model="orderProp">
				<option value="first">First Name</option>
				<option value="last">Last Name</option>
			</select>
		</div>
		<div class="span10">
			<ul>
				<li ng-repeat="name in names | filter:query | orderBy:orderProp">
					{{name.first}} {{name.last}}<br />
				</li>
			</ul>
		</div>
	</div>
</div>
